@use "base/variables" as *;
@use "base/mixins" as *;

.header {
  z-index: 1;
  background-color: $verde;

  @include tablet {
    &.fixed {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      box-shadow: 0.1rem 0.2rem 0.3rem $grisOscuro;
    }
  }

  .contenido-header {
    padding: 2rem;

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  h1 {
    color: $blanco;
    text-align: center;

    @include tablet {
      margin: 0;
    }
  }
}

.navegacion-principal {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  text-align: center;

  @include tablet {
    flex-direction: row;
  }

  a {
    color: $blanco;
    font-size: 2.4rem;

    &:hover,
    &.active {
      color: $amarillo;
    }
  }
}
