@use "base/variables" as *;
@use "base/mixins" as *;

.video {
  position: relative;
  min-height: 50rem;
  max-height: 70rem;
  overflow: hidden;

  .overlay {
    position: absolute;
    background-color: black;
    background: linear-gradient(
      270deg,
      rgba($morado, 60%),
      rgba(darken($morado, 20%), 90%)
    );
    inset: 0;
    display: flex;
    align-items: center;
  }

  video {
    display: block;
    width: auto;

    @include desktop {
      width: 100%;
    }
  }
}

.contenido-video {
  z-index: 10;

  h2 {
    color: $blanco;
    margin: 0;
    font-size: 5.5rem;
  }

  p {
    background-color: $rosa;
    margin: 0;
    color: $blanco;
    padding: 1rem;
    font-weight: 700;
    display: inline-block;
    font-size: 2rem;
    border-radius: 5px;
  }
}
